{% extends 'car_dealer/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
</style>
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black w3-allerta">Vehicle Vendor:{{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/car_dealer_portal/logout/">logout</a>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/car_dealer_portal/order_list/">Orders</a>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/car_dealer_portal/manage_vehicles/">Vehicles</a>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/car_dealer_portal/history/">Wallet</a>
</div>

<div class="w3-display-container" style="height:1000px;">
  <div class="w3-display-left" style="padding-left: 200px;">
    
<h3 class="w3-container w3-bar w3-white w3-allerta w3-large w3-round-xxlarge" style="padding:8px"><center>add vehicle here<center></h3>
<form class="w3-container "  action="/car_dealer_portal/add_vehicle/" method="post">{% csrf_token %}
  <lable class="w3-allerta">Vehicle Name :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="car_name"><br><br>
  <lable class="w3-allerta">Color :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="color"><br><br>
  <lable class="w3-allerta">City :</lable> <input class="w3-input w3-allerta w3-border w3-round-large" type="text" name="city"><br><br>
  <lable class="w3-allerta">Pincode :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="pincode"><br><br>
  <lable class="w3-allerta">Description :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="description"><br><br>
  <lable class="w3-allerta">Capacity :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="capacity"><br><br>
  <lable class="w3-allerta">Vehicle Type :</lable> <input class="w3-input w3-border w3-round-large w3-allerta" type="text" name="Vehicle_Type"><br><br>
  <input class="w3-btn w3-black w3-allerta w3-round-xxlarge" type="submit" value="Add Vehicle"><br><br>
<form>
</div>

<div class = "w3-display-right">
  <img src="{% static "images/01_bugatti_chiron-sport_front_web.jpg" %}" width="900px" height="1000px" >
</div>

{% endblock %}
