{% extends 'car_dealer/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
</style>

<div class="w3-display-container" style="height:500px;">
  <div class="w3-display-middle">
      <form class = "w3-container" action="/car_dealer_portal/auth/" method="POST">{% csrf_token %}
        <lable class="w3-allerta">Username</lable>  <input class="w3-input w3-border w3-allerta w3-round-large" type="text" name="username"><br><br>
        <lable class="w3-allerta">Password</lable>  <input class="w3-input w3-border w3-allerta w3-round-large" type="password" name="password"><br><br>
        <input class="w3-btn w3-black w3-allerta w3-round-xxlarge" type="submit" value="Login">
      </form><br><br>
      <div class="w3-container">
        <a class="w3-btn w3-black w3-allerta w3-round-xxlarge" href="/car_dealer_portal/register/">new user ? sign up here</a>
        <a class="w3-btn w3-black w3-allerta w3-round-xxlarge" href="/">Home</a>
      </div>
  </div>
</div>
{% endblock %}
