{% extends 'customer/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<style>
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
</style>

<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black w3-allerta">Customer Page: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/customer_portal/logout/">logout</a>
  <a class="w3-bar-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/customer_portal/manage/">Manage</a>
  <a class="w3-ber-item w3-btn w3-white w3-allerta w3-round-xlarge w3-right" href="/customer_portal/search/">Search for cars</a>
</div>
<div class="w3-containet w3-center w3-serif" style="padding:100px  ">
 NAME: {{vehicle.car_name}}
<form class="w3-container w3-serif" action="/customer_portal/confirmed/" method="post">
  {% csrf_token %}
  PRICE : {{cost_per_day}} /DAY<br><br>
  <lable class="w3-serif ">For How many days ?</lable> : <input type="text" class="w3-round-large" name="days"><br><br>
  <input class="w3-btn w3-black w3-allerta w3-round-xxlarge" type="submit" value="confirm order"><br><br>
  <input type="hidden" value="{{vehicle.id}}" name="id">
  <br><br>
</from>
</div>
{% endblock %}
